.main-background-about {
  /* The image used */
  background-image:  linear-gradient(
     rgba(0, 0, 0, 0.20),
     rgba(0, 0, 0, 0.20)
   ), url("../../assets/beach.jpg");
   background-color: rgba(0,0,0,0.7);
   /* Set a specific height */
   height: 80vh;
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position:top;
   background-repeat: no-repeat;
   background-size: cover;
}

.main-header {
  color: white;
  font-family: 'proxima_nova_ltthin', Arial, sans-serif;
  overflow: hidden;
}

.lead{
  font-family: 'proxima_nova_ltthin', sans-serif;
  font-size: 1.4em;
  color: white;
}
