.grey-panel{ 
    /* The image used */
   background-image: url("../../assets/wood_para.jpg");
   background-color: rgba(0,0,0,0.7);
   /* Set a specific height */
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position:top;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 60px;
   padding-bottom: 60px;
}