body {
  margin: 0;
  padding: 0;
}

.shift-nav {
  margin-top: 55px;

}

.home-top {
  /* The image used */
  background-image: url("books.jpg");
  background-color: rgba(0,0,0,0.7);
  /* Set a specific height */
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-white-trans {
  background-color:rgba(255,255,255,0.95);
  color:black;
}

.bg-white-super-trans {
  background-color:rgba(255,255,255, 1);
  color:black;

}

.inner {
  height: 90%;
  width: 100%;
}

.text-home-big {
  font-family: 'proxima_nova_ltthin', Arial, sans-serif;
  font-size: 48px;
  font-weight: 300px;
}

.text-home-desc {
  font-family: 'proxima_nova_ltthin', sans-serif;
  font-size: 1.4em;
}

.h-40 {
  height: 40%;
}
