.main-background {
  /* The image used */
   background-image:  linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url("../../assets/school.jpg");
   background-color: rgba(0,0,0,0.7);
   /* Set a specific height */
   height: 80vh;
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position:top;
   background-repeat: no-repeat;
   background-size: cover;
}

.main-header {
  color: white;
  font-family: 'proxima_nova_ltthin', Arial, sans-serif;
  overflow: hidden;
}

.lead{
  font-family: 'proxima_nova_ltthin', sans-serif;
  color: white;
  overflow: hidden;
}
