.logo-img {
  max-height: 35px;
}

.modal-backdrop {
  z-index: -1;
}

nav .btn{
  border-radius: 50px;
}

.nav-item-text {
  font-family: 'Proxima', sans-serif;
  font-size: 100%;
  font-weight: 300;
  border-bottom: 3px solid #f8f9fa;
}

.nav-item-text:hover {
  text-decoration: none;
  border-bottom: 3px solid #165f99;
}

.nav-item-text:active {
  text-decoration: none;
  border-bottom: 3px solid #165f99;
}
